<?xml version="1.0"?>
<configuration>
  <!--
    .NET 4.5의 web.config 변경 내용에 대한 설명은 http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>