<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICollectorService"/>
        <binding name="BasicHttpBinding_ISignerService"/>
        <binding name="BasicHttpBinding_IMailerService"/>
        <binding name="BasicHttpBinding_IProviderService"/>
        <binding name="BasicHttpBinding_IReportService"/>
        <binding name="BasicHttpBinding_IResponseService"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICollectorService">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_ISignerService">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IMailerService">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IProviderService">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IReportService">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_IResponseService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.219.154:8453/OpenTAX_Collector_V10" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICollectorService" contract="WcfCollector.ICollectorService" name="NetTcpBinding_ICollectorService"/>
      <endpoint address="http://192.168.219.154:8461/OpenTAX_Collector_V10" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollectorService" contract="WcfCollector.ICollectorService" name="BasicHttpBinding_ICollectorService"/>
      <endpoint address="net.tcp://192.168.219.154:8453/OpenTAX_Signer_V10" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISignerService" contract="WcfSigner.ISignerService" name="NetTcpBinding_ISignerService"/>
      <endpoint address="http://192.168.219.154:8480/OpenTAX_Signer_V10" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISignerService" contract="WcfSigner.ISignerService" name="BasicHttpBinding_ISignerService"/>
      <endpoint address="net.tcp://192.168.219.154:8453/OpenTAX_Mailer_V10" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMailerService" contract="WcfMailer.IMailerService" name="NetTcpBinding_IMailerService"/>
      <endpoint address="http://192.168.219.154:8465/OpenTAX_Mailer_V10" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailerService" contract="WcfMailer.IMailerService" name="BasicHttpBinding_IMailerService"/>
      <endpoint address="net.tcp://192.168.219.154:8453/OpenTAX_Provider_V10" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProviderService" contract="WcfProvider.IProviderService" name="NetTcpBinding_IProviderService"/>
      <endpoint address="http://192.168.219.154:8469/OpenTAX_Provider_V10" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProviderService" contract="WcfProvider.IProviderService" name="BasicHttpBinding_IProviderService"/>
      <endpoint address="net.tcp://192.168.219.154:8453/OpenTAX_Reporter_V10" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReportService" contract="WcfReporter.IReportService" name="NetTcpBinding_IReportService"/>
      <endpoint address="http://192.168.219.154:8472/OpenTAX_Reporter_V10" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService" contract="WcfReporter.IReportService" name="BasicHttpBinding_IReportService"/>
      <endpoint address="net.tcp://192.168.219.154:8453/OpenTAX_Responsor_V10" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IResponseService" contract="WcfResponsor.IResponseService" name="NetTcpBinding_IResponseService"/>
      <endpoint address="http://192.168.219.154:8476/OpenTAX_Responsor_V10" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResponseService" contract="WcfResponsor.IResponseService" name="BasicHttpBinding_IResponseService"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>